<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.SQLServer2012Dialect
        </property>

        <property name="hibernate.connection.driver_class">
            com.microsoft.sqlserver.jdbc.SQLServerDriver
        </property>

        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">
            jdbc:sqlserver://localhost:49172;databaseName=bnadbTemp;user=admin;password=wodev123!;instanceName=WODEVSQL;
        </property>

        <property name="hibernate.connection.username">
            admin
        </property>

        <property name="hibernate.connection.password">
            wodev123!
        </property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <mapping class="pl.arsonproject.bnabd.bnabd.model.Category"/>

    </session-factory>
</hibernate-configuration>